<div class="modal" id="create-client-modal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">Novo Cliente</div>
            <button class="close-modal">&times;</button>
        </div>
        
        <form id="create-client-form">
            <div class="modal-body">
                <div class="form-group">
                    <label for="new-client-name">Nome do Cliente*</label>
                    <input type="text" id="new-client-name" class="form-input" required>
                </div>
            </div>
            
            <div class="form-actions">
                <button type="button" class="btn btn-light close-modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Criar Cliente</button>
            </div>
        </form>
    </div>
</div>