<div id="widget-quick-chat">
  <div class="chat-widget-header">
    <h4 id="chat-widget-title">Conversa</h4>
    <button id="chat-widget-close" aria-label="Fechar chat">&times;</button>
  </div>
  <div class="chat-widget-body">
    <div id="chat-bubbles-container" class="chat-bubbles-container">
      </div>
  </div>
  <div class="chat-widget-footer">
    <form id="chat-widget-form">
      <textarea id="chat-widget-input" class="form-input" placeholder="Digite sua mensagem..." rows="1"></textarea>
      <button type="submit" class="btn btn-primary" aria-label="Enviar Mensagem"><i class="fas fa-paper-plane"></i></button>
    </form>
  </div>
</div>