<div class="modal" id="confirmModal">
    <div class="modal-content" style="max-width: 500px;">
        <div class="modal-header">
            <h2 class="modal-title" id="confirmModalTitle">Confirmar Ação</h2>
            <button class="close-modal">&times;</button>
        </div>
        <div class="modal-body" style="text-align: center;">
            <p id="confirmModalMessage" style="font-size: 1.1em; line-height: 1.6;">
                Você tem certeza que deseja realizar esta ação?
            </p>
        </div>
        <div class="form-actions">
            <button class="btn btn-light" id="confirmModalCancel">Cancelar</button>
            <button class="btn btn-danger" id="confirmModalConfirm">Confirmar</button>
        </div>
    </div>
</div>