<div class="modal" id="policyModal">
    <div class="modal-content" style="max-width: 600px;">
        <div class="modal-header">
            <h2 class="modal-title">Política de Reembolso</h2>
            <button class="close-sub-modal">&times;</button>
        </div>
        <div class="modal-body" style="text-align: left;">
            <h4>1. Cancelamento pelo Cliente</h4>
            <p>Reembolso de 50% do valor total é aplicável se o cancelamento ocorrer antes do início do trabalho. Após o início da fase de esboço, nenhum reembolso será concedido.</p>
            <h4>2. Insatisfação</h4>
            <p>O processo de revisão existe para garantir a satisfação do cliente. Uma vez que a arte final é aprovada e entregue, não há reembolso por insatisfação.</p>
            </div>
    </div>
</div>