<div class="modal" id="termsModal">
    <div class="modal-content" style="max-width: 600px;">
        <div class="modal-header">
            <h2 class="modal-title">Termos de Serviço</h2>
            <button class="close-sub-modal">&times;</button>
        </div>
        <div class="modal-body" style="text-align: left;">
            <h4>1. Uso das Comissões</h4>
            <p>O cliente tem o direito de uso pessoal da arte. O uso comercial requer uma taxa adicional e acordo prévio.</p>
            <h4>2. Processo de Revisão</h4>
            <p>O cliente tem direito a duas rodadas de revisão gratuitas durante a fase de esboço. Revisões adicionais podem incorrer em custos extras.</p>
            <h4>3. Propriedade Intelectual</h4>
            <p>O artista retém os direitos autorais da obra e o direito de usá-la em seu portfólio.</p>
            </div>
    </div>
</div>